
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.log-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #bd9513;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
  margin: 0 30px;
  font-family: 'roboto', sans-serif;
  font-weight: 700;
}

.log-button a {
  color: #2c2c2c;
}
