.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh - 5.353319057815846vh; // The second part matches the height of the menu (50px)
  width: 100%;
}

.container-yield {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container-button {
  display: flex;
  justify-content: center;

  li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

#container-search-id {
  margin-bottom: 20px;
}

.usersList {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e23438;
  transition: background 0.3s ease;
  margin: 5px;
}

.login {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.log-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #E60F05;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
  margin: 0 30px;
  font-family: 'roboto', sans-serif;
  font-weight: 700;
  .log-button a {
      color: white;
    }

  &:hover {
    background: #af252c;
    color: white;
  }
}

#search-button {
  padding: 5px 24px;
}
