// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: rgb(36, 36, 36);
  color: white;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}
