<h1>Welcome to the coaching dashboard</h1>
<p>Here is your client list:</p>
<% @sessions.uniq { |session| session[:user_id] }.each do |session| %>
<%# raise %>
  <li><%= link_to session.user.first_name, user_path(session.user.id) %></li>
<% end %>
