    <h1 class="welcome">Bienvenue sur mon coach et moi !</h1>
    <div class="login" id="logcoach">
      <%= link_to 'Je suis un coach', new_coach_registration_path %>
    </div>
    <div class="login" id="logcustomer">
      <%= link_to 'Je suis membre', new_user_registration_path %>
    </div>
