  <h1 class="welcome">Bienvenue sur mon coach et moi !</h1>
  <h2>Se connecter ou créer un compte en tant que :</h2>
  <div class="login">
    <div  class="log-button">
      <%= link_to 'COACH', new_coach_registration_path %>
    </div>
    <div class="log-button">
      <%= link_to 'MEMBRE', new_user_registration_path %>
    </div>
  </div>
