  <h1 class="welcome">Bienvenue <%= current_coach.first_name %> !</h1>
  <p>Voici un résumé de vos clients : <br>Cliquez sur leurs noms pour avoir le détail</p>
  <% @users.each do |user| %>
    <li class="usersList"><%= link_to (user.first_name + " - ID : " + user.id.to_s), user_path(user.id) %> </li>
  <% end %>

  <p>Entrer un ID pour ajouter un nouveau client</p>
  <form action="/search", method="post", onsubmit="return confirm('Êtes-vous sûr de vouloir ajouter cet utilisateur ?');">
    <input name="id" type="text">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button class="searchButton" type="submit">Search</button>
  </form>
