<h1>Welcome to the coaching dashboard</h1>
<p>Here is your client list:</p>

<% @trainings.each do |training| %>
  <li><%= link_to training.user.first_name, user_path(training.user.id) %></li>
<% end %>
