<div class="container">
  <% if current_user %>
    <%= render "home_user" %>
  <% elsif current_coach %>
    <%= render "home_coach" %>
  <% else %>
    <%= render "home_no_login" %>
  <% end %>
</div>
