// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form a {
  margin : 20px 0;
  color: white;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.field input {
  width: 100%;
  padding: 0;
  border: solid white;
  background-color: white;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
